<!DOCTYPE html>
<html lang="en">
<head>
    <title>Discopy</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link href="static/favicon.ico" rel="icon">
    <!-- CSS only -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/my.css" rel="stylesheet">
    <!-- JS, Popper.js, and jQuery -->
    <script src="static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/axios.min.js"></script>
</head>
<body>
<div class="container" id="app">
    {% include 'navbar.html' %}
    <div>
        <h1>Shallow Discourse Parsing (Discopy)</h1>
        <span>Some description...</span>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {},
        methods: {},
        created() {
        },
        computed: {}
    })
</script>
</body>
</html>