<!DOCTYPE html>
<html lang="en">
<head>
    <title>Discopy</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link href="/static/favicon.ico" rel="icon">
    <!-- CSS only -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">
    <!-- JS, Popper.js, and jQuery -->
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
</head>
<body>
<div class="container" id="app">
    {% include 'navbar.html' %}
    <div class="d-block">
        <h2>WSJ Samples</h2>
        <div class="search-wrapper panel-heading">
            <input class="form-control" type="text" v-model="searchQuery" placeholder="Search"/>
        </div>
        <div class="list-group"
             style="max-height: 300px;margin-bottom: 10px;overflow:scroll;-webkit-overflow-scrolling: touch;"
             v-if="resultQuery.length">
            <a href="#" class="list-group-item"
               v-for="docId in resultQuery"
               v-bind:class="{ 'active' : isSelected(docId) }"
               v-on:click="selectDocument(docId)">${ docId }</a>
        </div>
    </div>
    <div class="d-block" v-if="docId && sentences">
        <div>
            <h2>Document (${this.docId})</h2>
        </div>
        <div>
            <p>
                <span v-for="s in sentences">${s["words"].map(x => x[0]).join(" ")} </span>
            </p>
        </div>
    </div>
    <div class="d-block" v-if="docId && sentences">
        <h2>Discourse Relations</h2>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkExplicit" value="Explicit" v-model="relationTypes">
            <label class="form-check-label" for="checkExplicit">Explicit</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkImplicit" value="Implicit" v-model="relationTypes">
            <label class="form-check-label" for="checkImplicit">Implicit</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkEntRel" value="EntRel" v-model="relationTypes">
            <label class="form-check-label" for="checkEntRel">EntRel</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkAltLex" value="AltLex" v-model="relationTypes">
            <label class="form-check-label" for="checkAltLex">AltLex</label>
        </div>
        <div>
            <span class="Arg1">First Argument</span>
            <span class="Conn">Connective</span>
            <span class="Arg2">Second Argument</span>
        </div>
        <div class="relation" v-for="(rel, index) in relationsQuery">
            <div>
                <span style="font-weight: bold">${index + 1} ${rel.type}</span>
                <span v-if="rel.sense" style="font-style: italic"> - ${rel.sense}</span>
            </div>
            <span v-for="t in rel.tokens" v-bind:class="t.class">${t.surface} </span>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            docId: "",
            sentences: null,
            relations: [],
            documents: "",
            searchQuery: null,
            relationTypes: [],
        },
        methods: {
            selectDocument(v) {
                this.docId = v;
                axios.get('/api/sentences/' + v).then((res) => {
                    this.sentences = res.data;
                }).catch((error) => {
                    console.error(error);
                });
                axios.get('/api/relations/' + v).then((res) => {
                    this.relations = res.data;
                }).catch((error) => {
                    console.error(error);
                });
            },
            isSelected(i) {
                return i === this.docId
            }
        },
        created() {
            axios.get('/api/docs').then((res) => {
                this.documents = res.data;
            })
        },
        computed: {
            resultQuery() {
                if (this.searchQuery) {
                    return this.documents.filter((item) => {
                        return item.toLowerCase().includes(this.searchQuery.toLowerCase())
                    })
                } else {
                    return this.documents;
                }
            },
            relationsQuery() {
                if (this.relationTypes.length > 0) {
                    return this.relations.filter(r => {
                        return this.relationTypes.map(t => t.toLowerCase()).includes(r.type.toLowerCase())
                    })
                } else {
                    return this.relations;
                }
            }

        }
    })
</script>
</body>
</html>